@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff"),
    url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: "Roboto";
}
.wraper {
  margin: 80px 100px;
}
h1 {
  font-size: 30px;
  color: #1b2441;
  font-weight: 700;
  text-align: center;
}
h2 {
  font-size: 20px;
  letter-spacing: 0px;
  color: #b3b3b3;
  font-weight: bold;
}
.FirstForm {
  padding: 50px 0;
}
.first {
  display: inline-block;
  width: 296px;
}
.first input,
.first select {
  margin-bottom: 10px;
}
.first textarea{
  width: 298px;
}
.sign-in {
  width: 100%;
  padding: 15px;
}
.cityselect {
  width: 330px;
  padding: 15px;
}
.sign-in:nth-child(4) {
  margin-bottom: 10px;
}
.register {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  background-color: #12d661;
  width: 330px;
  padding: 15px;
  border: none;
}
.register:hover {
  background-color: #07be51;
  filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.15));
  cursor: pointer;
}
.first option {
  padding: 15px;
}
.deliver,
.term{
  display: inline-block;
}
.deliver{
  margin-right: 60px;
}
.gray {
  border-radius: 3px;
  background-color: #f7f7f7;
  border: 1px solid #e5e5e5;
  display: inline-block;
  width: 480px;
  float: right;
}
.gray {
  float: right;
}
.gray p {
  display: inline-block;
}
.date {
  display: inline-block;
  margin-right: 225px;
}
.gender,
.slidecheck{
  display: inline-block;
}
.gender{
  margin-right: 300px;
}
.gender input {
  display: none;
}
label {
  position: relative;
}
.gender label {
  line-height: 75px;
  padding-left: 85px;
}
.men + label::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  background: url(../img/sprite.png);
  background-position: -24px -2px;
  left: 0;
}
.men:checked + label::before {
  background-position: -24px -77px;
}
.men:checked + label,
.women:checked + label{
  color: #3e6aff;
}
.women + label::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  background: url(../img/sprite.png);
  background-position: -99px -2px;
  left: 0;
}
.women:checked + label:before {
  background-position: -99px -79px;
}
.slidecheck label{
  padding-left: 65px;
}
.slidecheck p{
  margin: 0;
  margin-bottom: 25px;
}
.slider{
  visibility: hidden;
  position: absolute;
  z-index: -1;
}
.slider+label{
  position: relative;
}
.slider+label::before,
.slider+label::after{
  content: "";
  position: absolute;
  transition: all 0.5s ease;
}
.slider+label::before{
  width: 46px;
  height: 24px;
  border-radius: 13px;
  background-color: #cfcfd1;
  left: 0;
}
.slider+label:after{
  width: 20px;
  height: 20px;
  top: 1.5px;
  left: 2px;
  border-radius: 50%;
  background-color: #fff;
}
.slider:checked+label::before{
  background-color: #3e6aff;
}
.slider:checked+label:after{
  left: 23px;
}
.inputtable {
  width: 305px;
  padding: 15px;
}
.fourth p{
  display: inline-block;
}
.tableselect {
  width: 339px;
  padding: 15px;
}
.file {
  visibility: hidden;
  position: absolute;
}
.foto {
  display: inline-block;
  background-color: #3e6aff;
  color: #fff;
  padding: 18px 36px;
  visibility: visible;
  cursor: pointer;
}
.foto:hover {
  background-color: #2857f4;
  box-shadow: 0px 2px 2.5px rgba(15, 40, 126, 0.35);
}
.regbutom {
  width: 339px;
  padding: 15px;
  background-color: #12d661;
  border: none;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}
.regbutom:hover{
  background-color: #07be51;
}
.fourth td:first-child{
  width: 160px;
}
.tableone input,
.thirdtable input {
  width: 194px;
  padding: 11px;
}
.tabletwo select {
  padding: 11px;
  width: 220px;
}
.colespan {
  width: 418px; 
  padding: 11px;
}
.butoms a {
  font-size: 14px;
  color: #6e6f77;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  padding: 14px 25px;
}
.butoms input {
  padding: 15px 25px;
  background-color: #12d661;
  border: none;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  margin-left: 288px;
}
.back {
  border: 1px solid #6e6f77;
}
.back:hover {
  background-color: #6e6f77;
  color: #fff;
  filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.15));
}
.butoms input:hover {
  background-color: #07be51;
  filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.15));
}
.fixedform {
  float: right;
  background-color: #fafafa;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
  /position: fixed;
  z-index: 4;
}
.fixed{
  padding: 0 25px;
}
.fixedinput {
  padding: 10px;
  width: 238px;
  font-size: 14px;
  border: 1px solid #ccc;
}
.entrance{
  width: 260px;
  padding: 16px 0;
  border: none;
  background-color: #07be51;
  color: #fff;
  font-size: 14px;
  margin-bottom: 20px;
}
.styled-radio{
  visibility: hidden;
  
}
