@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff"),
    url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: "Roboto";
}
.wraper {
  margin: 80px 100px;
}
h1 {
  font-size: 30px;
  color: #1b2441;
  font-weight: 700;
  text-align: center;
}
h2 {
  font-size: 20px;
  letter-spacing: 0px;
  color: #b3b3b3;
  font-weight: bold;
}
.FirstForm {
  padding: 50px 0;
}
.first {
  display: inline-block;
  width: 345px;
}
.first input,
.first select {
  margin-bottom: 10px;
}
.sign-in {
  width: 330px;
  padding: 15px;
}
.cityselect {
  width: 362px;
  padding: 15px;
}
.sign-in:nth-child(4) {
  margin-bottom: 10px;
}
.register {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  background-color: #12d661;
  width: 364px;
  padding: 15px;
  border: none;
}
.register:hover {
  background-color: #3e6aff;
  filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.15));
}
.first option {
  padding: 15px;
}
.gray {
  border-radius: 3px;
  background-color: #f7f7f7;
  border: 1px solid #e5e5e5;
  display: inline-block;
  width: 480px;
  float: right;
}
.gray input {
  float: right;
}
.gray p {
  display: inline-block;
}
.date {
  display: inline-block;
  margin-right: 225px;
}
.third input {
  display: none;
}
label {
  position: relative;
}
.gender label {
  line-height: 75px;
  padding-left: 85px;
}
.men + label::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  background: url(../img/sprite.png);
  background-position: -24px -2px;
  left: 0;
}
.men:checked + label::before {
  background-position: -24px -77px;
}
.women + label::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  background: url(../img/sprite.png);
  background-position: -99px -2px;
  left: 0;
}
.women:checked + label:before {
  background-position: -99px -79px;
}
.sixth {
  float: right;
}
.fifth td input{
  width: 196px;
  padding: 11px;
}
.tabletwo select{
  padding: 11px;
  width: 220px;
}
.fifth td{
  /width: 424px;
}
.butoms a {
  font-size: 14px;
  color: #6e6f77;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  padding: 14px 25px;
}
.butoms input {
  padding: 15px 25px;
  background-color: #12d661;
  border: none;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}
.back {
  border: 1px solid #6e6f77;
}
.back:hover {
  background-color: #6e6f77;
  color: #fff;
  filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.15));
}
.butoms input:hover {
  background-color: #3e6aff;
  filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.15));
}
