@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff"),
    url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: "Roboto", sans-serif;
}
.wrapper {
  margin: 80px auto 140px;
  width: 80%;
}
h1 {
  font-size: 30px;
  color: #1b2441;
  font-weight: 700;
  text-align: center;
}
h2 {
  font-size: 20px;
  letter-spacing: 0px;
  color: #b3b3b3;
  font-weight: bold;
}
.clear:after{
  content: "";
  display: block;
  clear: both;
}
textarea{
  resize: vertical;
  height: 130px;
  max-height: 180px;
  min-height: 50px;
}
label {
  position: relative;
  font-size: 14px;
}
select{
  appearance: none;
}
p{
  margin-top: 0;
}
::-webkit-calendar-picker-indicator { opacity: 0;}
::-webkit-inner-spin-button { display: none; }
.FirstForm {
  padding: 50px 0;
  display: inline-block;
  max-width: 330px;
}
.boxes50{
  width: 50%;
  float: left;
  top: 0;
}
.deliver{
  width: 33%;
  float: left;
  box-sizing: border-box;
}
.term{
  width: 67%;
  float: right;
  box-sizing: border-box;
}
.inputs{
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color: #fff;
}
.gray {
  border-radius: 3px;
  background-color: #f7f7f7;
  border: 1px solid #e5e5e5;
  width: 480px;
  padding: 20px;
}
.gray tr:first-child td{
  padding-bottom: 15px;
}
.date{
  width: 150px;
  padding: 15px;
  font-size: 14px;
  color: #1f222c;
  position: relative;
}
.date:before{
  position: absolute;
  content: "";
  background-image: url(../img/sprite.png);
  width: 18px;
  height: 18px;
  background-position: -1px -14px;
  left: 145px;
  top: 15px;
}
.gender,
.slidecheck{
  display: inline-block;
}
.gender input {
  display: none;
}
.gender label {
  line-height: 75px;
  padding-left: 85px;
  font-weight: 700;
}
.men + label::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  background: url(../img/sprite.png);
  background-position: -24px -2px;
  left: 0;
}
.men:checked + label::before {
  background-position: -24px -77px;
}
.men:checked + label,
.women:checked + label{
  color: #3e6aff;
}
.women + label::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  background: url(../img/sprite.png);
  background-position: -99px -2px;
  left: 0;
}
.women:checked + label:before {
  background-position: -99px -79px;
}
.slidecheck label{
  padding-left: 65px;
}
.slidecheck p{
  line-height: 40px;
}
.slider{
  cursor: pointer;
  visibility: hidden;
  position: absolute;
  z-index: -1;
}
.slider+label{
  position: relative;
}
.slider+label::before,
.slider+label::after{
  content: "";
  position: absolute;
  transition: all 0.5s ease;
}
.slider+label::before{
  width: 46px;
  height: 25px;
  border-radius: 13px;
  background-color: #cfcfd1;
  left: 0;
  top: 0;
}
.slider+label:after{
  width: 20px;
  height: 20px;
  top: 2.5px;
  left: 3px;
  border-radius: 50%;
  background-color: #fff;
}
.slider:checked+label::before{
  background-color: #3e6aff;
}
.slider:checked+label:after{
  left: 22px;
}
.fourth p{
  display: inline-block;
}
.fourth td:first-child{
  padding-top: 15px;
  vertical-align: top;
}
.fourth tr:nth-child(4) td:first-child{
  padding: 0;
}
.fourth td:last-child{
  width: 340px;
}
.file {
  visibility: hidden;
  position: absolute;
}
.foto {
  display: inline-block;
  background-color: #3e6aff;
  color: #fff;
  padding: 14px 36px;
  visibility: visible;
  cursor: pointer;
  border-radius: 3px;
}
.foto:hover {
  background-color: #2857f4;
  box-shadow: 0px 2px 2.5px rgba(15, 40, 126, 0.35);
}
.fourth td:first-child{
  font-size: 14px;
  width: 160px;
}
.buttoms a {
  font-size: 14px;
  color: #6e6f77;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  padding: 14px 25px;
  display: inline-block;
}
.buttom {
  padding: 15px 25px;
  background-color: #12d661;
  border: none;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  border-radius: 3px;
}
.back {
  border: 1px solid #6e6f77;
  border-radius: 3px;
}
.back:hover {
  background-color: #6e6f77;
  color: #fff;
  filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.15));
}
.buttom:hover {
  background-color: #07be51;
  filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.15));
  cursor: pointer;
}
.fixedform{
  position: fixed;
  top: 188px;
  left: 71%;
  z-index: 4;
}
.fixed {
  background-color: #fafafa;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
  width: 260px;
  padding: 25px 25px 10px;
}
.fixed .inputs{
  padding: 10px;
}
.close{
  position: absolute;
  content: "";
  right: 10px;
  top: 67px;
  font-size: 20px;
  color: #b3b3b3;
  text-decoration: none;
}
.fixed p{
  margin-bottom: 10px;
}
.absolute{
  padding: 0;
  font-size: 13px;
  color: #b3b3b3;
}
.forget{
  font-size: 13px;
  color: #3e6aff;
  text-decoration: none;
}
.styled-radio,
.disabledradio{
  cursor: pointer;
  visibility: hidden;
  position: absolute;
  z-index: -2;
}
.styled-radio+label,
.disabledradio+label{
  position: relative;
}
.styled-radio+label::before,
.styled-radio+label::after,
.disabledradio+label::before,
.disabledradio+label::after{
  content: "";
  position: absolute;
}
.styled-radio+label::before,
.disabledradio+label::before{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #ccc;
  top: 1px;
}
.deliver span,
.fourth span{
  padding-left: 25px;
}
.fourth span:first-child{
  padding-right: 25px;
}
.styled-radio:checked+label::after{
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: #3e6aff;
  border-radius: 50%;
  left: 5px;
  top: 6px;
}
.disabledradio:checked+label::after{
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: #ccc;
  border-radius: 50%;
  left: 5px;
  top: 6px;
}
.styled-radio:checked+label::before{
  border: 1px solid #3e6aff;
}
.styled-check,
.disabledcheck{
  cursor: pointer;
  visibility: hidden;
  position: absolute;
  z-index: -2;
}
.styled-check+label,
.disabledcheck+label{
  position: relative;
}
.styled-check+label::before,
.styled-check+label::after,
.disabledcheck+label:before,
.disabledcheck+label:after{
  content: "";
  position: absolute;
}
.styled-check+label::before,
.disabledcheck+label:before{
  width: 16px;
  height: 16px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color: #fff;
  top: 1px;
}
.disabledcheck:checked+label::after{
  content: "";
  position: absolute;
  width: 6px;
  height: 3px;
  transform: rotate(-45deg);
  border-bottom: 2px solid #ccc;
  border-left: 2px solid #ccc;
  left: 5px;
  top: 7px;
}
.styled-check:checked+label::before{
  border: 1px solid #3e6aff;
}
.styled-check:checked+label::after{
  content: "";
  position: absolute;
  width: 6px;
  height: 3px;
  transform: rotate(-45deg);
  border-bottom: 2px solid #244dd7;
  border-left: 2px solid #244dd7;
  left: 5px;
  top: 7px;
}
.term span,
.remember span,
.gray span,
.check span{
  padding-left: 25px;
}
.gray td:first-child{
  width: 80px;
}
.fifthtable{
  max-width: 680px;
}
.long{
  box-sizing: border-box;
  width: 450px;
  padding: 10px;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #ccc;
  height: 40px;
}
.fifth .buttom{
  float: right;
}
.fifth .inputs{
  height: 40px;
  padding: 10px;
  width: 220px;
}
.fifth td{
  padding: 10px 9px 10px 0;
}
.fifth h3{
  margin-bottom: 40px;
}
.absolutlabel{
  position: absolute;
  left: 5px;
  top: -30px;
  color: #b3b3b3;
  font-size: 13px;
}
.formstable td{
  position: relative;
  line-height: 60px;
}
.formstable:nth-child(4){
  margin-bottom: 25px;
}
.line{
  border-bottom: 1px solid #e9e9e9;
  margin: 25px 0 45px;
}
.formstable select{
  position: relative;
}
.formstable select::before{
  position: absolute;
  content: "";
  border-right: 1px solid #ccc;
  width: 1px;
  height: 19px;
  top: 10px;
  right: 30px;
}